{{#if resume.work.length}}
<section id="work">
	<br />
	{{#each resume.work}}
		{{#if company}}
		<div>
			<strong>
				{{position}} - {{company}}.
			</strong>
			  &nbsp;
			{{#if location}}
				{{location}},
			{{/if}}
		{{/if}}
		{{#if startDate}}
		<span class="startDate">
			{{startDate}}
		</span>
		{{/if}}
		{{#if endDate}}
		<span class="endDate">
			- {{endDate}}
		</span>
		{{else}}
		<span class="endDate">
			- Present
		</span>
		{{/if}}
		</div>
		<p>{{summary}}</p>
		<!-- <div class="date">
			{{#if startDate}}
			<span class="startDate">
				{{startDate}}
			</span>
			{{/if}}
			{{#if endDate}}
			<span class="endDate">
				- {{endDate}}
			</span>
			{{else}}
			<span class="endDate">
				- Present
			</span>
			{{/if}}
		</div>
		{{#if position}}
		<div class="position">
			{{position}}
		</div>
		{{/if}}
		{{#if website}}
		<div class="website">
			<a href="{{website}}">{{website}}</a>
		</div>
		{{/if}}
		{{#if summary}}
		<div class="summary">
			<p>{{summary}}</p>
		</div>
		{{/if}}
		{{#if highlights.length}}
		<ul class="highlights">
			{{#each highlights}}
			<li>{{.}}</li>
			{{/each}}
		</ul>
		{{/if}} -->
	{{/each}}
</section>
{{/if}}
